@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Poppins';
  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.812rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.562rem;
  --text-2xl: 1.938rem;
  --text-3xl: 2.438rem;
  --text-4xl: 3.062rem;
  --text-5xl: 3.812rem;
  --color-primary: #ff6b12;
  --color-primary-dark: #b6561a;
  --color-secondary: #14a5ff;
  --color-secondary-dark: #1a7ab6;
  --color-black: #505061;
  --color-gray: #757575;
  --color-light-gray: #e5e5e5;
  --font-light: 300;
  --font-semibold: 600;
  --font-bold: 700;
}

a,
input,
button,
option {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
  background: var(--color-black);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-dark);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}


@keyframes showing {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 1);
  }
}

@keyframes hiding {
  from {
    background-color: rgba(0, 0, 0, 1);
  }

  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

.skip-to-content {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-decoration: none;
  color: var(--color-primary);
}

.skip-to-content:focus {
  top: 0;
}

#content-anchor {
  position: absolute;
  top: -80px;
  z-index: -1;
}

.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  animation: hiding 500ms;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.header.overlaying,
.header.active {
  background-color: rgba(0, 0, 0, 1);
  animation: showing 300ms;
}

.header__menu {
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 1.2rem 2rem;
  display: flex;
  width: 100%;
  background-color: inherit;
}

.header__menu__logo {
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  color: white;
  text-decoration: none;
}

.header__menu #hamburger {
  color: white;
  font-size: var(--text-lg);
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
}

.header__menu #hamburger:focus {
  outline: 2px solid white;
}

.header__menu #hamburger:hover {
  color: var(--color-primary);
}

.header__dropdown {
  display: none;
}

.header.active .header__dropdown {
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.header__dropdown {
  width: 100%;
}

.header__dropdown__nav {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: inherit;
  margin-bottom: 1rem;
}

.header__dropdown__item {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__dropdown__item:hover {
  background-color: rgb(56, 56, 56);
}

.header__dropdown__item a {
  text-decoration: none;
  background-color: inherit;
  color: white;
  width: inherit;
  height: inherit;
}

.container {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.section-loading {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.section-loading__spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--color-primary);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.restaurant-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.restaurant-container__error {
  text-align: center;
  color: white;
  padding: 3rem;
  width: 100%;
  background-color: lightcoral;
  box-sizing: border-box;
}

.restaurant-item {
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

.restaurant-item:hover {
  transform: scale(1.025);
  transition: .1s ease-in-out;
}

.restaurant-item__image {
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.restaurant-item__body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.2rem 1.2rem 1rem 1.2rem;
  gap: 1.2rem;
}

.restaurant-item__body__informations {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.restaurant-item__body__informations__title {
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  color: var(--color-black);
  line-height: 120%;
}

.restaurant-item__body__informations__details {
  color: var(--color-black);
  justify-content: flex-start;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: flex-start;
  font-size: var(--text-sm);
  gap: .5rem;
}

.restaurant-item__body__informations__details__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.restaurant-item__body__informations__details__item svg {
  width: 1rem;
  height: 1rem;
  stroke: var(--color-primary);
  fill: var(--color-primary);
}

.restaurant-item__body__informations__details__description {
  color: gray;
  font-weight: 300;
  font-size: var(--text-sm);
  line-height: 140%;
}

.restaurant-item__body__informations__details__button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: white;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.restaurant-item__body__informations__details__button:focus {
  outline: 2px solid black;
}

.pagination-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pagination-item {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  background-color: white;
  color: gray;
  font-weight: 600;
  font-size: var(--text-base);
  cursor: pointer;
  border-radius: 5px;
}

.pagination-item:hover {
  background-color: rgb(241, 241, 241);
}

.pagination-item.active {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary);
  color: white
}

.footer {
  background-color: whitesmoke;
}

.footer__sitemap {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.footer__sitemap__brand {
  font-size: var(--text-xl);
  font-weight: 600;
  color: var(--color-black)
}

.footer__sitemap__nav__heading {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  color: var(--color-black);
  font-weight: var(--font-semibold);
  font-size: var(--text-base);
}

.footer__sitemap__nav__item {
  justify-content: flex-end;
  text-decoration: none;
  font-size: var(--text-sm);
  color: var(--color-primary-dark);
}

.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: var(--text-sm);
}

@media screen and (min-width:600px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width:700px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__menu #hamburger {
    display: none;
  }

  .header__dropdown {
    display: flex;
  }

  .header__dropdown__nav {
    flex-direction: row;
    margin-bottom: 0;
    gap: 1rem;
    margin-right: 1rem;
  }

  .header__dropdown__item {
    height: 100%;
    width: auto;
  }

  .header__dropdown__item:hover {
    background: none;
  }

  .header__dropdown__item a {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: var(--text-sm);
  }

  .header__dropdown__item a:hover {
    color: var(--color-primary-dark);
  }

  .restaurant-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 650px;
    gap: 2rem 1rem;
    margin: 0 auto;
  }

  .restaurant-item {
    flex-direction: column;
    max-width: 280px;
    height: 400px;
    border-radius: 10px;
  }

  .restaurant-item__image {
    width: 100%;
    height: 170px;
  }

  .restaurant-item__body {
    width: 100%;
    box-sizing: border-box;
  }

  .restaurant-item__body__informations__title {
    font-size: var(--text-base);
  }

  .restaurant-item__body__informations__details {
    width: 100%;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 1rem;
  }

  .restaurant-container__error,
  .pagination-container {
    grid-column: span 2;
  }
}

@media screen and (min-width:1000px) {
  .header__dropdown__item a {
    font-size: var(--text-base);
  }

  .restaurant-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: inherit;
  }

  .restaurant-container__error,
  .pagination-container {
    grid-column: span 3;
  }
}